In [25]:
import pandas as pd
import numpy as np

# Tabulate Manipulation

## Series

In [5]:
series1 = pd.Series([1,2,3], index=['carne', 'carneiro', 'ovelha'])
series2 = pd.Series([2,3,4], index=['ovo', 'carneiro', 'ovelha'])

### Operations

In [6]:
print(f'{series1}\n\n{series2}')

carne       1
carneiro    2
ovelha      3
dtype: int64

ovo         2
carneiro    3
ovelha      4
dtype: int64

In [7]:
# Soma
series1 + series2

carne       NaN
carneiro    5.0
ovelha      7.0
ovo         NaN
dtype: float64

In [8]:
# Divisão
series1/series2
#(series1/series2).round(2)

carne            NaN
carneiro    0.666667
ovelha      0.750000
ovo              NaN
dtype: float64

In [9]:
# Subtração
series1 - series2

carne       NaN
carneiro   -1.0
ovelha     -1.0
ovo         NaN
dtype: float64

In [10]:
# Multiplicação
series1*series2

carne        NaN
carneiro     6.0
ovelha      12.0
ovo          NaN
dtype: float64

In [11]:
series1.sum()

6

### Logic Operations (Filtres)

In [12]:
# filtros
#print(series1)
series1 > 2

carne       False
carneiro    False
ovelha       True
dtype: bool

In [13]:
# se quisermos conhecer os valores
series1[series1 > 2]

ovelha    3
dtype: int64

In [14]:
# Se quisermos a negação da condição
series1[~(series1 > 2)]

carne       1
carneiro    2
dtype: int64

### Another Oparations

In [17]:
ao = [
series1.sum(),
series1.std(),
series1.max(),
series1.min(),
series1.count(),
series1.unique(),
series1.nunique(),
series1.value_counts()
]

In [18]:
ao

[6,
 1.0,
 3,
 1,
 3,
 array([1, 2, 3], dtype=int64),
 3,
 1    1
 2    1
 3    1
 dtype: int64]

### Concat

In [19]:
print(series1)
print('')
print(series2)

carne       1
carneiro    2
ovelha      3
dtype: int64

ovo         2
carneiro    3
ovelha      4
dtype: int64

In [20]:
#No Numpy não era possivel concatenar array com dimensoes diferentes, 
#já com Series do Pandas é possivel devido a utilização dos indices
pd.concat([series1,series2], axis=1)

            0    1
carne     1.0  NaN
carneiro  2.0  3.0
ovelha    3.0  4.0
ovo       NaN  2.0

## DataFrame (pandas)

In [22]:
df_pokemons = pd.read_csv('pokemon_data.csv')
df_pokemons

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

### Map

In [26]:
# Tirar a raíz  de cada elemento da coluna HP
df_pokemons['HP'].map(np.sqrt)

0      6.708204
1      7.745967
2      8.944272
3      8.944272
4      6.244998
         ...
795    7.071068
796    7.071068
797    8.944272
798    8.944272
799    8.944272
Name: HP, Length: 800, dtype: float64

### Apply

In [27]:
# APlicando a função max para cada coluna
df_pokemons.max()

C:\Users\georg\AppData\Local\Temp/ipykernel_29864/3030101911.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_pokemons.max()

#                          721
Name          Zygarde50% Forme
Type 1                   Water
HP                         255
Attack                     190
Defense                    230
Sp. Atk                    194
Sp. Def                    230
Speed                      180
Generation                   6
Legendary                 True
dtype: object

In [28]:
df_pokemons.max(axis=1)

C:\Users\georg\AppData\Local\Temp/ipykernel_29864/1962029531.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_pokemons.max(axis=1)

0       65.0
1       80.0
2      100.0
3      123.0
4       65.0
       ...
795    719.0
796    719.0
797    720.0
798    720.0
799    721.0
Length: 800, dtype: float64

In [29]:
def max_min(x):
    diferenca = x.max() - x.min()
    return diferenca

### Apply Map

In [30]:
# Aplicando o método para algumas colunas
df_pokemons.loc[:, ['HP', 'Sp. Atk']].apply(max_min)

HP         254
Sp. Atk    184
dtype: int64

In [31]:
df_pokemons.loc[:, ['HP', 'Sp. Atk', 'Attack', 'Defense']].applymap(np.sqrt)

           HP    Sp. Atk     Attack    Defense
0    6.708204   8.062258   7.000000   7.000000
1    7.745967   8.944272   7.874008   7.937254
2    8.944272  10.000000   9.055385   9.110434
3    8.944272  11.045361  10.000000  11.090537
4    6.244998   7.745967   7.211103   6.557439
..        ...        ...        ...        ...
795  7.071068  10.000000  10.000000  12.247449
796  7.071068  12.649111  12.649111  10.488088
797  8.944272  12.247449  10.488088   7.745967
798  8.944272  13.038405  12.649111   7.745967
799  8.944272  11.401754  10.488088  10.954451

[800 rows x 4 columns]